<div class="row">
   <img [src]="selectedRecipe.imagePath" alt="" class="img-responsive">
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div  class="btn-group dropdown" appdropdown>
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe&ensp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="AddtoSL()">To Shopping List</a></li>
        <li><a (click)="editrecipe()">Edit Recipe</a></li>
        <li><a  (click)="DeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of selectedRecipe.ingredients">
        {{ing.name}} <span class="pull-right">{{ing.amount}}</span>
      </li>
    </ul>
  </div>
</div>
